{% extends "base.html" %}

{% load static %} 

{% block title %}Dashboard{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock styles %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-2">
                <div class="card text-white">
                    <div class="card-body bg-success">
                        <h5 class="card-title fs-3 fw-bold">0</h5>
                        <p class="card-text">Empty Bins</p>
                    </div>
                    <div class="text-center bg-success">
                        <a class="text-white">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card text-white bg-warning">
                    <div class="card-body">
                        <h5 class="card-title fs-3 fw-bold">44</h5>
                        <p class="card-text">Half Bins</p>
                    </div>
                    <div class="text-center bg-warning">
                        <a class="text-white">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card text-white bg-danger">
                    <div class="card-body">
                        <h5 class="card-title fs-3 fw-bold">5</h5>
                        <p class="card-text">Full Bins</p>
                    </div>
                    <div class="text-center bg-danger">
                        <a class="text-white">More Info</a>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="card text-white bg-secondary">
                    <div class="card-body">
                        <h5 class="card-title fs-3 fw-bold">0</h5>
                        <p class="card-text">Offline</p>
                    </div>
                    <div class="text-center bg-secondary">
                        <a class="text-white">More Info</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Bins</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Connection</th>
                                    <th scope="col">Fullness</th>
                                    <th scope="col">Battery</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Dname1</td>
                                    <td>10th Street</td>
                                    <td>Online</td>
                                    <td>31%</td>
                                    <td>36%</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Dname2</td>
                                    <td>50th Road</td>
                                    <td>Online</td>
                                    <td>37%</td>
                                    <td>87%</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Dname3</td>
                                    <td>2nd Avenue</td>
                                    <td>Offline</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Reminders</h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Alert Time</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Infomation</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>20/02/2025 4:36:32pm</td>
                                    <td>Device Offline</td>
                                    <td>20/02/2025 2:36:32pm</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-6">
        <div id="map" style="height: 100%;">

        </div>
    </div> -->
</div>
{% endblock content %}

{% block scripts %}
<!-- <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script>
    var map = L.map('map', {
        center: [0,0],
        dragging: false,
        scrollWheelZoom: "center",
    }).setView([1.414056, 103.911599, ], 17);
    

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker([1.414298, 103.912143]).addTo(map)
        .bindPopup('<p>ID: 1</p><p>Fullness: 31%</p><p>Battery: 36%</p>');

    L.marker([1.414242, 103.913136]).addTo(map)
        .bindPopup('<p>ID: 2</p><p>Fullness: 37%</p><p>Battery: 87%</p>');

    var changecolor = L.marker([1.413242, 103.913636]).addTo(map)
        .bindPopup('<p>ID: 3</p><p>Fullness: -</p><p>Battery: -</p>');
    changecolor._icon.classList.add("huechange");
</script> -->
{% endblock scripts %}