# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django specific
*.mo
*.py[cod]
*.pyo
*.pyd
*.pyo
*.pdb
*.egg-info/
*.egg
*.cover
*.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db